<div class="container">
  <h2 id="signUp-title" class="text-center">Sign Up</h2>
  <fieldset class="form-group">
    <legend>Sign Up</legend>
    <form name='signUpForm' novalidate>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" name="firstName" placeholder="Enter First Name"
        ng-model="$signUpCtrl.user.firstName"
        required
        minlength="2"
        ng-maxlength="10">
        <span ng-if="(signUpForm.firstName.$error.minlength || signUpForm.firstName.$error.required) && signUpForm.firstName.$touched">
          First Name must be at least 2 characters long
        </span>
        <span ng-if="signUpForm.firstName.$error.maxlength && signUpForm.firstName.$touched">
          First Name must not be longer than 10 characters
        </span>
        <br>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName" placeholder="Enter Last Name"
        ng-model="$signUpCtrl.user.lastName"
        required
        minlength="1"
        ng-maxlength="10">
        <span ng-if="(signUpForm.lastName.$error.minlength || signUpForm.lastName.$error.required) && signUpForm.lastName.$touched">
          Last Name must be at least 1 characters long
        </span>
        <span ng-if="signUpForm.lastName.$error.maxlength && signUpForm.lastName.$touched">
          Last Name must not be longer than 10 characters
        </span>
        <br>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" placeholder="Email"
        ng-model="$signUpCtrl.user.email"
        required>
        <span ng-if="signUpForm.email.$invalid && signUpForm.email.$touched">
          Must be a valid email address: handle@domain format
        </span>
        <br>
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" name="phone" placeholder="Phone ###-###-####"
        ng-model="$signUpCtrl.user.phone"
        pattern="(\d{3})-(\d{3})-(\d{4})">
        <span ng-if="signUpForm.phone.$invalid && signUpForm.phone.$touched">
          Phone must be in the format ###-###-####.
        </span>
        <br>
      </div>

      <div class="form-group">
        <label for="favoriteDish">Favorite Dish</label>
        <input type="text" class="form-control" name="favoriteDish" placeholder="Pick your favorite Dish"
        ng-model="$signUpCtrl.user.favoriteDish">
        <br>
      </div>

      <div class="form-group">
        <div class="alert alert-danger" role="alert" ng-if="$signUpCtrl.error">
          Hmm, try something else, like A1 or C1 or L1
        </div>
        <div class="alert alert-success" role="alert" ng-if="$signUpCtrl.success">
          Your information has been saved.
        </div>
        <br>
      </div>

      <button class="btn btn-primary"
      ng-disabled="signUpForm.$invalid"
      ng-click="$signUpCtrl.submit()">
      Submit
    </button>
  </form>
</fieldset>
</div>
